
body {
width: 100%; 
margin:auto; 
background-color: #EEEEEE;
}

a{
color:black;
font-size:15px;
}

hr{
background-color:black;
height:1px;
}
#head{
height:15vh; 
background-image: url(../img/header.jpg);
}

#left_nav{
height:50vh;
padding:1%;
}

#content-wrapper{
background-color: #EEEEEE;
height:50vh;
padding:1%;
}

#footer{
min-height:10vh;
position: absolute; 
bottom: 0;
width:100%;
}

#copyright{
position: absolute; 
bottom: 0;
}

#infotxt{
margin-left: 1%;
}

.marginClass{
margin: 1.5%;
}

.send {
color: green;
}

.navlist {
margin-top:2%;
}

.req-label {
width: 89%;
}

.req-btn {
width: 5%;
}

#field {
    width: 100%;
	height: 50vh;
    overflow: scroll;
	overflow-x: hidden;
} 

body .modal-dialog {
    /* new custom width */
    width: 80%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin: auto;
}

#accordion .ui-accordion-content {
   height: 40vh;
}