/* line 2, ../compass/sass/dashboard.scss */
body {
  width: 100%;
  margin: auto;
  background-color: #EEEEEE;
}

/* line 8, ../compass/sass/dashboard.scss */
a {
  color: black;
  font-size: 15px;
}

/* line 13, ../compass/sass/dashboard.scss */
hr {
  background-color: black;
  height: 1px;
}

/* line 18, ../compass/sass/dashboard.scss */
#head {
  height: 8vh;
  background-image: url(../img/header.jpg);
}

/* Optional als Farbverlauf */
/*#head{
height:15vh; 
background-image: linear-gradient(90deg, blue 0%, #ED8A47 40%, white 100%);
}*/
/* line 28, ../compass/sass/dashboard.scss */
#logo {
  height: 7vh;
}

/* line 32, ../compass/sass/dashboard.scss */
#leftSide {
  height: 70vh;
  margin-top: 3vh;
}

/* line 36, ../compass/sass/dashboard.scss */
#feed {
  height: 30vh;
  overflow: hidden;
  overflow-x: hidden;
}

*[id^='star'] {
  float: right;
  margin-right: 2px;
}

#footer{
 position: inherit;
 bottom: 1vh;
 width:100%;
}

#footerLink {
 cursor: pointer;
 font-style: italic;
 margin-left: 10px;
 margin-right: 10px;
}

/* line 42, ../compass/sass/dashboard.scss */
.floater {
  float: left;
}

@media (max-width: 800) {
  /* line 46, ../compass/sass/dashboard.scss */
  #left_nav {
    /*height: 40vh;*/
    margin: 2%;
    clear: both;
  }
}
@media (min-width: 800) {
  /* line 46, ../compass/sass/dashboard.scss */
  #left_nav {
    height: 40vh;
    padding: 2%;
  }
}
/* line 58, ../compass/sass/dashboard.scss */
#left_nav li {
  float: right;
  width: 100%;
}

/* line 64, ../compass/sass/dashboard.scss */
#goButton {
  background-color: lightgrey;
}

/* line 67, ../compass/sass/dashboard.scss */
#goButton:hover {
  background-color: #C3C3C3;
}

/* line 72, ../compass/sass/dashboard.scss */
#copyright {
  position: absolute;
  bottom: 0;
}

/* line 77, ../compass/sass/dashboard.scss */
#infotxt {
  margin-left: 1%;
}

/* line 81, ../compass/sass/dashboard.scss */
.marginClass {
  margin: 1.5%;
}

/* line 85, ../compass/sass/dashboard.scss */
.send {
  color: green;
}

/* line 89, ../compass/sass/dashboard.scss */
.navlist {
  margin-top: 2%;
}

/* line 93, ../compass/sass/dashboard.scss */
.req-label {
  width: 89%;
}

/* line 97, ../compass/sass/dashboard.scss */
.req-btn {
  width: 5%;
}

/* line 101, ../compass/sass/dashboard.scss */
.content-wrapper {
  background-color: #EEEEEE;
  padding: 1%;
}

@media (max-width: 800px) {
  /* line 109, ../compass/sass/dashboard.scss */
  .c_button {
    width: 100%;
  }
}
@media (min-width: 800px) {
  /* line 109, ../compass/sass/dashboard.scss */
  .c_button {
    float: right;
  }
}

@media (max-device-height: 800px) {
  /* line 119, ../compass/sass/dashboard.scss */
  #field {
    width: 100%;
    height: 53vh;
    overflow: hidden;
    overflow-x: hidden;
  }
}
@media (min-device-height: 800px) {
  /* line 119, ../compass/sass/dashboard.scss */
  #field {
    width: 100%;
    height: 62vh;
    overflow: auto; /*Hide when not needed, show when needed*/
  }
}

/* line 135, ../compass/sass/dashboard.scss */
body .modal-dialog {
  /* new custom width */
  width: 80%;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin: auto;
}

/* line 142, ../compass/sass/dashboard.scss */
#accordion .ui-accordion-content {
  height: 40vh;
}

/* line 146, ../compass/sass/dashboard.scss */
#main-nav {
  cursor: default;
}

/* line 150, ../compass/sass/dashboard.scss */
#sortHead:hover {
  cursor: pointer;
  background-color: #D6D6D6;
}

/* line 155, ../compass/sass/dashboard.scss */
#newsFeedPanel {
  width: 100%;
}
